{
    "env": {
        "browser": true,
        "node": true,
        "es2020": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-new-func": "error",
        "no-new": "error",
        "no-multi-str": "error",
        "no-multi-spaces": "error",
        "no-lone-blocks": "error",
        "no-labels": "error",
        "no-iterator": "error",
        "no-empty-function": "error",
        "block-scoped-var": "error",
        "prefer-arrow-callback": "error",
        "no-implied-eval": "error",
        "no-implicit-globals": "error",
        "no-floating-decimal": "error",
        "no-extra-label": "error",
        "no-extra-bind": "error",
        "no-extend-native": [
            "error",
            {
                "exceptions": ["Object"]
            }
        ],
        "no-eval": "error",
        "no-eq-null": "error",
        "no-else-return": "error",
        "no-unused-vars": 0,
        "no-console": 0,
        "no-empty": 0,
        "no-redeclare": 0,
        "no-useless-escape": 0,
        "no-var": "error",
        "object-shorthand": ["error", "properties"],
        "prefer-template": "error",
        "no-useless-concat": "error",
        "no-div-regex": "error",
        "no-constructor-return": "error",
        "no-caller": "error",
        "max-classes-per-file": "error",
        "default-param-last": "error",
        "default-case-last": "error",
        "default-case": "error",
        "array-callback-return": "error",
        "no-unsafe-optional-chaining": "error",
        "no-unreachable-loop": "error",
        "no-template-curly-in-string": "error",
        "no-loss-of-precision": "error"
    },
    "parser": "babel-eslint"
}
