{
    "env": {
        "browser": true,
        "node": true,
        "es2020": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-unused-vars": 0,
        "no-console": 0,
        "no-empty": 0,
        "no-redeclare": 0,
        "no-useless-escape": 0,
        "no-inner-declarations": 0,
        "object-shorthand": ["error", "properties"],
        "prefer-template": "error",
        "no-useless-concat": "error",
        "strict": "error",
        "no-div-regex": "error",
        "no-constructor-return": "error",
        "no-caller": "error",
        "max-classes-per-file": "error",
        "default-param-last": "error",
        "default-case-last": "error",
        "default-case": "error",
        "array-callback-return": "error",
        "no-unsafe-optional-chaining": "error",
        "no-unreachable-loop": "error",
        "no-template-curly-in-string": "error",
        "no-loss-of-precision": "error"
    }
}
