{
    "*.js": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.html.twig": [
        "twig-cs-fixer lint --fix"
    ],
    "*.php": [
        "myphpstan.js",
        "php-cs-fixer fix"
    ]
}
